/* 
    Created on : 9/06/2016, 01:46:15 PM
    Author     : Jefersson Ramos
*/
#caja{
    background: #f0f0f0;
    width:500px;
    border: 2px solid blue;
    margin: 10px auto;
    padding: 1em;
    border-radius: 6px;
    justify-content: center;
    align-items: center;
}   
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
td{
    color:black;
}
tr:nth-child(even) {
    background-color: #dddddd;
}
h1,h2,h3,h4{
    font-family: arial;
    color: black;
}
input{
    margin:0 0 1em 1em;
    width: 200px;
    border: 1px solid blue;
    padding: 1em;
    border-radius:9px;
    justify-content: center;
    position: relative;
}
#inputTable{
    margin:0 0 1em 1em;
    width: 50px;
    border: 1px solid blue;
    padding: 1em;
    border-radius:1px;
    justify-content: center;
}
select{
    margin:0 0 1em 1em;
    width: 230px;
    border: 1px solid blue;
    padding: 1em;
    border-radius:9px;
}
body {  
        background-image:url('spmUM.gif');
 }
input[type=submit]{
    padding: 1em;
    background: #0080ff;
    width: 170px;
    border: none;
    color: white;
    font-family: arial;
    font-size: 14px;
    border-radius: 3px;
    /*position: relative;*/
    top: 15;
}input[type=submit]:hover{
    background: #0040ff;
    cursor: pointer;               
}input[type=radio]{width:30px;
}
#inputSubmit{
    padding: 1em;
    background: #0080ff;
    border: none;
    color: white;
    font-family: arial;
    font-size: 14px;
    border-radius: 3px;
}
div {
    justify-content: center;
    align-items: center;
    left: 260px;
    color: #0080ff;
    font-family: arial;
    font-size: 14px;
}
.form-control {

}
.ui-controlgroup-controls
{
    width:100%;
}
.ui-radio {
    width:25%;
}

